
<html>
<head>
	<title>HOME</title>
</head>
<body background="https://wallpaperscraft.com/image/gold_antique_background_patterns_18584_3840x2400.jpg">
	

<div align="right"  style="color:white">
***บทเพลงพระราชนิพนธ์***<BR/>
<a href="home" style="color:white">home</a>
<a href="kingsong1" style="color:white">kingsong1</a>
<a href="kingsong2" style="color:white">kingsong2</a>
<a href="kingsong3" style="color:white">kingsong3</a>
</div>
<center>
	<h1  style="color:white">เพลง :	พรปีใหม่</h1>
</center>	



<center><p style="width: 500px;color:white" >
สวัสดี วัน ปี ใหม่ พา
ให้บรรดา เรา ท่าน รื่น รมย์
ฤกษ์ยามดี เปรม ปรีดิ์ ชื่น ชม
ต่างสุขสม นิ ยม ยิน ดี

ข้าวิงวอน ขอ พร จาก ฟ้า
ให้บรรดา ปวง ท่าน สุข ศรี
โปรดประทาน พร โดย ปรา ณี
ให้ชาวไทย ล้วน มี โชค ชัย

ให้บรรดา ปวง ท่าน สุข สันต์ ทุกวัน ทุกคืน
ชื่น ชมให้สมฤทัย ให้รุ่งเรือง ใน วัน ปีใหม่
ผองชาวไทย จง สวัสดี

ตลอดปี จง มี สุข ใจ
ตลอดไป นับ แต่ บัด นี้
ให้สิ้นทุกข์ สุขเกษม เปรม ปรีดิ์
สวัสดี วัน ปี ใหม่เทอญ
</p>
<iframe width="854" height="480" src="https://www.youtube.com/embed/TuzB2Q_kZwE" frameborder="0" allowfullscreen></iframe>
</center>
	

</html>